/target/
target
/classes/
classes
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.classpath
.project
*.iml
*.pid
*.log
*.txt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/log/
/.settings/
/data/backups/
/data/
/scripts/
/bin/
/.idea/
/test/
# 不提交上传文件夹
/uploadfiles/

#App*.java
*Test.java